/* 引用块样式 */
blockquote {
    font-family: '方正楷体', 'Microsoft YaHei UI', serif;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 10px 10px 10px 20px;
    background: #ffffff;
    border-left: 5px solid #166ff3;
    overflow: auto;
    box-shadow: 3px 8px 10px 2px rgb(173 173 173);
}

/* 设置蓝色标签字体大小 */
.ant-tag-blue {
    font-size: large;
}

/* 全局背景色 */
body {
    background-color: white;
}


/* 布局背景色 */
:where(.css-dev-only-do-not-override-n69ulc).ant-layout {
    background-color: white;
}

/* 全局颜色 */
:root {
    --red: #ff6b6b;
    --blue: #166ff3;
}

/* 按钮字体 */
:where(.css-dev-only-do-not-override-1vujmny).ant-btn >span {
    font-family: '方正楷体', serif,"Microsoft YaHei UI";
    font-weight: bold;
    display: inline-block;
}